<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<section class="contact-form-section">
    <header>
        <h2>Entre em contato comigo!</h2>
    </header>

    <address>
        <p><strong><i class="fas fa-phone-alt"></i> Me ligue: </strong>
            <a href="tel:+5585999181995">+55 85 99918-1995</a>
        </p>
        <p><strong><i class="fab fa-whatsapp"></i> Me ligue: </strong>
            <a href="https://wa.me/5585999181995?text=Oi, gostaria de saber mais!" target="_blank">Iniciar conversa</a>
        </p>
        <p><strong><i class="fas fa-envelope"></i> Email: </strong>
            <a href="mailto:brenobbb26@gmail.com">brenobbb26&#64;gmail.com</a>
        </p>
        <p><strong><i class="fas fa-city"></i> Localização: </strong> Brasil - Fortaleza - CE</p>

    </address>
</section>