$content-padding: 1rem;
$max-width: 1100px;
$primary-color: white;
$highlight-color: #0652e9;
$heading-font-size: 3.5rem;
$body-font-size: 1.2rem;

* {
    margin: 0;
    padding: 0;
    font-family: 'Consolas', sans-serif;
}

p {
    font-size: $body-font-size;
    color: #666666;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: $content-padding;
    padding-top: $content-padding;

    gap: 1rem;
    height: auto;
    width: 100%;
    max-width: $max-width;
    background-color: $primary-color;
    margin: 0 auto;

    /* Animação */
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s ease-out forwards;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
}

.carousel-track {
    display: flex;
    width: 100%;
    /* Limita a largura da pista */
    animation: scrollLeft 50s linear infinite;
}

.carousel-item {
    width: 64px;
    height: 64px;
    margin-right: 30px;
    object-fit: contain;
}

/* Restringe a largura do carousel */
@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
        /* Ajuste a translação */
    }
}

.skills {
    width: 100%;
    max-width: $max-width;
    /* Garante que o conteúdo não ultrapasse a largura máxima */
    padding: 1rem;
    background-color: #ffffff;
    margin-top: 2rem;
    /* Adiciona um espaço entre o carousel e a seção de habilidades */
    box-sizing: border-box;
    /* Garantir que o padding não cause overflow */
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}