<div class="content">
    <div class="carousel">
        <div class="carousel-track">
            <ng-container *ngFor="let image of images">
                <img [src]="image" alt="Ícone" class="carousel-item">
            </ng-container>
            <ng-container *ngFor="let image of images">
                <img [src]="image" alt="Ícone" class="carousel-item">
            </ng-container>
        </div>
    </div>

    <section class="skills">
        <h2>Habilidades Técnicas</h2>
        <br>
        <div class="skill">
            <h3>Desenvolvimento Frontend</h3>
            <p>Especialista em criação de interfaces modernas e responsivas, utilizando HTML5, CSS3/SCSS, JavaScript,
                TypeScript, Angular e Flutter. Capacidade de criar experiências de usuário agradáveis, com foco em
                acessibilidade e performance.</p>
        </div>
        <br>
        <div class="skill">
            <h3>Desenvolvimento Backend</h3>
            <p>Forte conhecimento em Java (Java 8) e Spring Boot, com implementação de serviços RESTful e integrações
                complexas. Experiência na utilização de JWT e autenticação OAuth2, bem como na criação de sistemas que
                lidam com grandes volumes de dados.</p>
        </div>
        <br>
        <div class="skill">
            <h3>Bancos de Dados</h3>
            <p>Experiência em bancos relacionais como PostgreSQL e MySQL. Capacidade de
                otimizar consultas e estruturar dados de forma eficiente para garantir alta performance nas operações.
            </p>
        </div>
        <br>
        <div class="skill">
            <h3>Desenvolvimento Mobile</h3>
            <p>Foco em Flutter, desenvolvendo aplicativos para iOS e Android com código único, garantindo alto
                desempenho e excelente usabilidade.</p>
        </div>
        <br>
        <div class="skill">
            <h3>Versionamento e Colaboração</h3>
            <p>Prática contínua com Git, incluindo Git Flow, e ferramentas de integração contínua (CI/CD). Experiência
                em trabalhar com equipes ágeis utilizando Scrum e Kanban.</p>
        </div>
        <br>
        <div class="skill">
            <h3>Desenvolvimento de Sistemas Corporativos</h3>
            <p>Experiência no desenvolvimento de sistemas fiscais, incluindo emissão de NFe, NFCe e NFSe, com profundo
                conhecimento em regras tributárias e parametrizações fiscais.</p>
        </div>
    </section>
</div>