@font-face {
    font-family: 'Consolas';
    src: local('Consolas');
}


$content-padding: 1rem;
$max-width: 1200px;
$primary-color: white;
$highlight-color: #0652e9;
$heading-font-size: 3.5rem;
$body-font-size: 1.2rem;

* {
    margin: 0;
    padding: 0;
    font-family: 'Consolas', sans-serif;
    //  color: $primary-color;
}

p {
    font-size: $body-font-size;
    color: #666666;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $content-padding;
    gap: 1rem;
    height: auto;
    width: 100%;
    max-width: $max-width;
    background-color: $primary-color;
    margin: 0 auto;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
}

.carousel-track {
    display: flex;
    width: max-content;
    animation: scrollLeft 50s linear infinite;
}

.carousel-item {
    width: 64px;
    height: 64px;
    margin-right: 30px;
    object-fit: contain;
}

.skills {
    width: 100%;
    padding: 1rem;
    background-color: #ffffff;
}


@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}