@font-face {
    font-family: 'Consolas';
    src: local('Consolas');
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

$content-padding: 1rem;
$max-width: 700px;
$primary-color: #333333;
$highlight-color: #0652e9;
$heading-font-size: 3.5rem;
$body-font-size: 1.2rem;

* {
    margin: 0;
    padding: 0;
    font-family: 'Consolas', sans-serif;
    color: $primary-color;
}

p {
    font-size: $body-font-size;
    color: #1a1a1a;
    line-height: 1.5;
}

.bold-text {
    font-weight: bold;
}

.titulo {
    font-size: $heading-font-size;
    color: #1a1a1a;
}

.color-name {
    color: $highlight-color;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: $content-padding;
    gap: 1rem;
    height: 700px;
    overflow: hidden;

    @media (max-width: 800px) {
        flex-direction: column;
        padding: 1rem;
        height: auto;
    }
}

section {
    margin: 1rem 0;
    width: 80%;
    max-width: $max-width;
    opacity: 0;
}

#home1 {
    animation: slideLeft 1s ease-out forwards;
}

#home2 {
    animation: slideRight 1s ease-out forwards;
}

.photo-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid $highlight-color;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    margin: 2rem auto;

    @media (max-width: 768px) {
        width: 200px;
        height: 200px;
    }
}

.photo-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 800px) {
    .titulo {
        font-size: 2.5rem;
    }

    .content {
        height: auto; // Permite que o conteúdo se ajuste à altura disponível
    }
}