<div class="content">
    <section id="home1">
        <div class="photo-circle">
            <img src="/assets/Perfil.jpg" alt="Minha Foto">
        </div>
    </section>
    <section id="home2">
        <p>Olá! Eu sou o <strong class="color-name">Breno Batista</strong>, desenvolvedor fullstack com mais
            de 10
            anos de experiência em desenvolvimento de
            software. Minha carreira começou na criação de sistemas desktop voltados para a área fiscal, onde aprendi a
            trabalhar com alta complexidade.</p>
        <p>Hoje, atuo como freelancer, desenvolvendo soluções web e mobile que aliam
            tecnologia moderna e usabilidade,
            sempre com foco em código limpo e boas práticas.</p>
        <br>
        <p>Meu foco é desenvolver sistemas que atendem às reais necessidades dos usuários, garantindo qualidade,
            performance e inovação.</p>

        <br>
        <h2>📈 <strong class="color-name">Meu diferencial</strong></h2>
        <br>
        <p>Sou comprometido com a entrega de soluções eficazes e tenho como prioridade o entendimento profundo das
            necessidades do cliente. Acredito que a tecnologia deve ser uma ponte para resolver problemas reais, e é
            isso que me motiva todos os dias.</p>

    </section>

</div>