@font-face {
    font-family: 'Orbitron';
    src: url('/assets/Orbitron-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

$highlight-color: #0652e9;

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 1rem;
    background: #ffffff;
    color: #1e293b;
    border-bottom: 1px solid #e0e0e0;
    height: 12px;

    &-logo {
        display: flex;
        align-items: center;

        img {
            max-height: 40px;
            width: auto;
        }
    }

    gap: 2rem;
    list-style: none;

    li {
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #1e293b;
            font-size: 18px;
            font-family: 'Orbitron', sans-serif;
            transition: color 0.3s ease, transform 0.3s ease;

            &:hover {
                color: $highlight-color;
                transform: scale(1.2);
            }

            /* Ícone */
            .icon {
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }

            /* Texto - visível em telas grandes */
            .text {
                display: inline-block;
            }
        }
    }

    /* Para telas menores que 800px */
    @media (max-width: 800px) {
        gap: 1rem;

        li {
            a {
                .text {
                    display: none;
                }

                .icon {
                    display: inline-block;
                }
            }
        }
    }

    &-toggle {
        display: none;
        flex-direction: column;
        cursor: pointer;

        span {
            width: 25px;
            height: 3px;
            background: #1e293b;
            margin: 4px 0;
            transition: transform 0.3s ease;
        }
    }
}