@font-face {
    font-family: 'Orbitron';
    src: url('/assets/Orbitron-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

$highlight-color: #0652e9;
$navbar-height: 12px;
$font-size: 18px;

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: #ffffff;
    color: #1e293b;
    border-bottom: 1px solid #e0e0e0;
    height: $navbar-height;

    &-logo {
        display: flex;
        align-items: center;

        img {
            max-height: 40px;
            width: auto;
        }
    }

    &-toggle {
        display: none;
        flex-direction: column;
        cursor: pointer;

        span {
            width: 25px;
            height: 3px;
            background: #1e293b;
            margin: 4px 0;
            transition: transform 0.3s ease;
        }
    }

    ul {
        display: flex;
        gap: 2rem;
        list-style: none;

        li {
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #333333;
                font-size: $font-size;
                font-family: 'Orbitron', sans-serif;
                transition: color 0.3s ease, transform 0.3s ease;

                &:hover {
                    color: $highlight-color;
                    transform: scale(1.2);
                }

                .icon {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }

                .text {
                    display: inline-block;
                }
            }
        }
    }

    @media (max-width: 800px) {
        ul {
            gap: 1rem;

            li {
                a {
                    .text {
                        display: none;
                    }

                    .icon {
                        display: inline-block;
                    }
                }
            }
        }
    }
}