<div class="content">
    <section id="home">
        <div class="photo-circle">
            <img src="/assets/perfil.jpg" alt="Minha Foto" class="photo-img">
        </div>
        <h1 class="titulo">Oi, eu sou Breno Batista.</h1>
        <p class="developer-description">Desenvolvedor Fullstack com experiência em criar soluções.</p>
        <p>Meu foco é desenvolver sistemas que atendem às reais necessidades dos usuários, garantindo qualidade,
            performance e inovação.</p>
    </section>

    <section id="contatos">
        <div class="contact-item">
            <a href="https://github.com/BrenoB3" target="_blank" class="contact-link">
                <img src="/assets/github.svg" alt="GitHub" class="contact-icon">
                <span class="contact-text">GitHub</span>
            </a>
        </div>

        <div class="contact-item">
            <a href="https://www.linkedin.com/in/breno-batista-2a2b9b311/" target="_blank" class="contact-link">
                <img src="/assets/linkedin.svg" alt="LinkedIn" class="contact-icon">
                <span class="contact-text">LinkedIn</span>
            </a>
        </div>
    </section>
</div>