@font-face {
    font-family: 'Orbitron';
    src: url('/assets/Orbitron-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 768px) {
    .content {
        padding: 1rem;
    }

    .photo-circle {
        width: 200px;
        height: 200px;
    }

    .titulo {
        font-size: 2.5rem;
    }
}

$content-padding: 1rem;
$max-width: 900px;
$primary-color: #333333;
$highlight-color: #0652e9;
$heading-font-size: 3.5rem;
$body-font-size: 1.2rem;

* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    color: $primary-color;
}

.titulo,
.developer-description,
p {
    font-family: 'Orbitron', sans-serif;
}

.titulo {
    font-size: $heading-font-size;
    font-weight: bold;
    color: #1a1a1a;
}

.developer-description {
    font-size: 1.5rem;
    color: $highlight-color;
    font-weight: 300;
    margin-top: 10px;
}

p {
    font-size: $body-font-size;
    color: #666666;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $content-padding;
}

section {
    margin: 2rem 0;
    width: 80%;
    max-width: $max-width;
}

.photo-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid $highlight-color;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    margin: 2rem auto;
}

.photo-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

span.text {
    color: #0652e9;
}

#home {
    animation: fadeIn 2s ease-out;
}

#contatos {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: $highlight-color;

    .contact-item {
        display: flex;
        align-items: center;
        gap: 8px;
        opacity: 0;
        animation: fadeInText 1s ease-out forwards;
        font-size: 12px;
        transition: transform 0.3s ease;

        a {
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            color: inherit;
        }

        img {
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.5s ease-out, visibility 0s 0.5s;
            filter: invert(43%) sepia(56%) saturate(1427%) hue-rotate(186deg) brightness(94%) contrast(92%);
            width: 24px;
            height: 24px;
        }

        &.show img {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.5s ease-out;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    p {
        animation: fadeIn 2s ease-out;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    p:hover {
        transform: scale(1.1);
    }
}