@font-face {
    font-family: 'Poppins'; // Nome da fonte
    src: url('/assets/fonts/poppins.woff2') format('woff2'),
        url('/assets/fonts/poppins.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$content-padding: 1rem; // Variável para o espaçamento das seções
$max-width: 900px; // Largura máxima para as seções
$background-color: #1e293b; // Fundo escuro
$primary-color: #333333; // Cor primária para o texto
$highlight-color: #0652e9; // Cor do destaque
$heading-font-size: 3.5rem; // Tamanho da fonte para os títulos
$body-font-size: 1.2rem; // Tamanho da fonte para o corpo do texto

* {
    font-family: 'Poppins', sans-serif; // Usando a fonte Poppins
    color: $primary-color; // Cor padrão do texto
}

h1,
h2,
h3 {
    font-size: $heading-font-size; // Tamanho de fonte para os títulos
    color: #1a1a1a; // Cor específica para os títulos
    letter-spacing: 0.02em; // Espaçamento entre as letras
    word-spacing: 0.2em; // Espaçamento entre as palavras
    font-family: 'Poppins', sans-serif; // Usando a fonte Poppins
}

.developer-description {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem; // Tamanho de fonte para os títulos
    color: $highlight-color;
    font-weight: 300;
    margin-top: 10px;
}

p {
    font-family: 'Poppins', sans-serif; // Usando a fonte Poppins
    font-size: $body-font-size; // Tamanho de fonte para o parágrafo
    color: #666666; // Cor para o texto do parágrafo

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center; // Alinha horizontalmente no centro
    min-height: 150vh; // Garante que a altura seja no mínimo a altura da tela
    text-align: center; // Alinha o texto no centro
    padding: $content-padding;
}

section {
    margin: 2rem 0; // Espaçamento entre as seções
    width: 80%; // Limita a largura das seções
    max-width: $max-width; // Largura máxima para a seção
}

#contatos {
    display: flex;
    justify-content: center; // Alinha os itens no centro horizontalmente
    gap: 20px; // Espaço entre os itens
}

.GitHub,
.LinkedIn {
    display: flex; // Usando flexbox para alinhar os itens dentro do parágrafo
    align-items: center; // Alinha verticalmente o ícone e o texto
    color: #1a1a1a;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem; // Tamanho de fonte para os títulos
}

.GitHub img,
.LinkedIn img {
    filter: brightness(0) saturate(100%) invert(32%) sepia(100%) saturate(536%) hue-rotate(179deg) brightness(93%) contrast(98%);
    margin-right: 8px; // Espaço entre o ícone e o texto
}

h1,
h2,
p {
    margin: 0.5rem 0; // Espaçamento entre os elementos
}