<app-navbar></app-navbar>

<div class="content">
  <section id="home">
    <div class="photo-circle">
      <img src="/assets/perfil.jpg" alt="Minha Foto">
    </div>
    <h1>Oi, eu sou Breno Batista.</h1>
    <p class="developer-description">Desenvolvedor Fullstack com experiência em criar soluções.
    </p>
  </section>

  <section id="home">
    <p>Meu foco é desenvolver sistemas que atendem às reais necessidades dos usuários, garantindo qualidade, performance
      e inovação.</p>
  </section>

  <section id="contatos">
    <p class="GitHub ">
      <img src="/assets/github.svg" alt="GitHub" width="32" height="32">
      GitHub
    </p>
    <p class="LinkedIn">
      <img src="/assets/linkedin.svg" alt="LinkedIn" width="32" height="32">
      LinkedIn
    </p>
  </section>

  <section id="images">
    <div class="image-container">
      <img src="/assets/perfil.jpg" alt="Imagem 1">
    </div>
    <div class="image-container">
      <img src="/assets/perfil.jpg" alt="Imagem 2">
    </div>
    <div class="image-container">
      <img src="/assets/perfil.jpg" alt="Imagem 3">
    </div>
  </section>
</div>