<app-navbar></app-navbar>

<div class="content">
  <section id="home">
    <p class="GitHub">
      <img src="/assets/github.svg" alt="GitHub" width="32" height="32">
      GitHub
    </p>
    <h1>Oi, eu sou Breno Batista</h1>
    <p class="developer-description">Desenvolvedor Fullstack</p>
    <p class="typing">Este é um efeito de digitação.</p>
  </section>

  <p>Um desenvolvedor focado em atender as necessidades.</p>

  <section id="contatos">
    <p class="GitHub">
      <img src="/assets/github.svg" alt="GitHub" width="32" height="32">
      GitHub
    </p>
    <p class="LinkedIn">
      <img src="/assets/linkedin.svg" alt="LinkedIn" width="32" height="32">
      LinkedIn
    </p>
  </section>
</div>